*{
    /* resetar a pagina */
    margin: 0;
    padding: 0;
}

body{
    /* pintar o fundo da pagina*/
    background-color: #62374e;
    
    /* adequando tamanhos */

    width: 400px;
    height: 500px;
}
.quadrados{
    /*arrumando em colunas */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* organizando tamanho, cor e posição de cada quadrado*/
.q1{

    /* width e height para dar o tamanho e a largura certa aos quadrados */
    top: 100px;
    width: 80px;
    height: 80px;
    margin: 80px;
    background-color: #fdc57b;

}
.q2{
    /* top para subir o quadrado */
    top: 100px;
    width: 80px;
    height: 80px;
/* margin-left para definir a posição na esquerda */
    margin-left: 840px;
    background-color: #fdc57b;
}
.q3{
    bottom: 100px;
    width: 80px;
    height: 80px;
    margin: 80px;
    margin-left: 80px;
/* margin-top para definir o quão para baixo o quadrado ficará */
    margin-top: 180px;  
    background-color: #fdc57b;
}
.q4{
    bottom: 100px;
    width: 80px;
    height: 80px;
    margin: 80px;
    margin-left: 840px;
    margin-top:  180px;
    /* background-color para definir a cor do fundo do quadrado */
    background-color: #fdc57b;
}